main{
    align-items: center;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #333;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.menu-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.menu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: #ccc;
}

.news-container {
    margin-left: 220px; /* Espace pour le menu latéral */
    padding: 20px;
    flex-grow: 1; /* Permet à la zone de nouvelles de prendre tout l'espace restant */
}

.news-item {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-item h2 {
    margin: 0 0 10px;
}

.news-item p {
    margin: 5px 0;
}


footer {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}

.main-comment-div {
    display: flex;
    flex-direction: column;
}

.comment {
    display: flex;
}

.comment-content {
    width: 550px;
    text-align: left;
}

.post-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.profile-image {
    border-radius: 100%;
    width: 55px;
    margin-right: 15px;
}

#username-h1 {
    margin: 0;
}

#timestamp {
    margin-left: 15px;
}