body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
}

header {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
}
.back-img{
    width: 100%;
    height:250px;
}

nav {
    background: rgba(0, 0, 0, 0.85); /* Black background */
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
    width: 100%;
    height: fit-content;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Flexbox for horizontal layout */
    justify-content: center; /* Center navigation items */
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px; /* Padding for clickable area */
    border-radius: 5px; /* Rounded corners */
    transition: 0.3s; /* Smooth transition */
}

nav ul li a:hover{
    background:  rgba(0, 0, 0, 0.92); /* Black color */
    text-decoration: none;
   
}

main {
    padding: 20px;
    max-width: 90%; /* Max width for content */
    margin: auto; /* Center the main content */
    display: block;
}

section {
    margin: 20px 0;
    background: white;
    padding: 20px;
    border-radius: 10px; /* More rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* More pronounced shadow */
    transition: transform 0.3s; /* Smooth scale effect */
}

section:hover {
    transform: scale(1.02); /* Slightly scale up on hover */
}

footer {
    text-align: center;
    padding: 10px;
    background:  rgba(0, 0, 0, 0.85); /* Black background */
    color: white;
    position: relative;
    bottom: 0;
    margin: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.img{
    margin-left: 35%;
}
.bouton{
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;    
    z-index: 20;
    border-style: solid;
}

.bouton:hover:active{
    animation: fade 400ms forwards; /*petite animation pour le boutton*/
}

@keyframes fade {

    0% {
        background-color: white
    }

    100% {
        background-color: rgb(207, 207, 207);
    }
}